<!DOCTYPE html>
<html>
    <head>
        <title>5* Recs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        <style>
@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@40,0&display=swap');
</style>
        <style>
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
</style>
        <link rel="stylesheet" href="./styles/reset.css">
        <link rel="stylesheet" href="./styles/style.css">
        


    </head>
    <body>
        <div class="gradient-background"></div>
        <div class="header">
            <h1>Break the loop</h1>
        </div>
        <div
        hx-get="/functions/auth.php"
        hx-trigger="load"
        > </div>
        <div class="container" id="container">

        <p> I'm here to help you break the loop. Tell me what you want and I'll give you a recommendation using Spotify's recommendation engine. I'm still very much in alpha so might not work great! </p> 
        <form class="submit-request" hx-post="/functions/get_recommends.php" hx-trigger="submit" hx-target="#container"  hx-swap="outerHTML">
            <label for="input">Tell me what you want?</label>
            <textarea rows="5" cols="80" id="input" name="input"></textarea>
            <button type="submit" value="Submit">Submit</button>
        </form>
    
       

            
        </div>
        
     
    </body>
</html>