:root {
    --step--2: clamp(0.6331rem, 0.6424rem + -0.012vw, 0.64rem);
    --step--1: clamp(0.8rem, 0.7848rem + 0.0761vw, 0.8438rem);
    --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --step-1: clamp(1.25rem, 1.1633rem + 0.4337vw, 1.4994rem);
    --step-2: clamp(1.5625rem, 1.4108rem + 0.7587vw, 1.9988rem);
    --step-3: clamp(1.9531rem, 1.7057rem + 1.237vw, 2.6644rem);
    --step-4: clamp(2.4413rem, 2.0549rem + 1.9315vw, 3.5519rem);
    --step-5: clamp(3.0519rem, 2.4664rem + 2.9272vw, 4.735rem);
    --step-6: clamp(3.815rem, 2.9467rem + 4.3413vw, 6.3113rem);
    --step-7: clamp(4.7681rem, 3.5003rem + 6.3391vw, 8.4131rem);
    --step-8: clamp(5.9606rem, 4.133rem + 9.138vw, 11.215rem);
  }
@keyframes LoadIn {
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      opacity: 1;
        filter: blur(0px);
    } 
}

h1 {
    margin-top: 10%;
    position: relative;
    font-family: 'Nabla', system-ui;
    font-size: var(--step-7);
    text-align: center;
}

header {
 margin: auto;
}

p{
    font-family: 'Orbitron', sans-serif;
    font-size: var(--step-0);
    color: #ffffff;
}

label{
    font-family: 'Orbitron', sans-serif;
    font-size: var(--step-0);
    color: #ffffff;
    animation: 2s ease-in 0s 1 LoadIn;

}

details{
    font-family: 'Orbitron', sans-serif;
    font-size: var(--step-0);
    color: #ffffff;
    animation: 2s ease-in 0s 1 LoadIn;

}

textarea{
    animation: 2s ease-in 0s 1 LoadIn;
    font-family: 'Orbitron', sans-serif;
    font-size: var(--step-0);
    color: #ffffff;
    width: 50vw;
    height: 150px;
    padding: 3px 3px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f800;
    font-size: 16px;
}

h4{
    font-family: 'Orbitron', sans-serif;
    font-size: var(--step-2);
    color: #ffffff;
}
h5{
    font-family: 'Orbitron', sans-serif;
    font-size: var(--step-1);
    color: #ffffff;
    margin: 0;
}

li{
    list-style-type: none
}


.intro{
    text-align: center;
    /* height: 15vh; */
    animation: 3s ease-in 0s 1 LoadIn;
    margin-bottom: 10px;
}



.track-image{
    margin: auto;
    margin-top: 20px;
}

body {
    /* height: 100vh; */
    margin: 0;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #230b9f 0%, #6f036d 55%, #004666 100%);
    animation: Gradient 30s ease-in-out infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
        
    }
    50% {
        background-position: 100% 50%
     
    }
    100% {
        background-position: 0% 50%

    }
}

.card{
    animation: 3s ease-in 0s 1 LoadIn;
    text-align: center  ;
}

button {
    font-family: 'Orbitron', sans-serif;
    animation: 5s ease-in 0s 1 LoadIn;
    display: block;
    border: none;
    padding: 1rem 2rem;
    margin: 0 auto ;  
    text-decoration: none;
    background: #006bed00;
    color: #ffffff;
    /* font-family: sans-serif; */
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border-radius: 2.7rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #ffffff;
    transition: background 350ms ease-in-out, 
                color 350ms ease,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #e8e8e8;
    color: #000000;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.89);
}

.get-button{
    margin-top: 15px;
    margin-bottom: 40px;
}

.spotify-button{
    animation: 1s ease-in 0s 1 LoadIn;
    background-color: #1db954;
    color: white;
    border-color: #1db954;
    margin-top: 10px;
    margin-bottom: 15px;
}

.spotify-button > a{
    color: white;
    text-decoration: none;
}

.spotify-button:hover{
    background-color: #128239;
    /* border-color: #128239; */
    
}

.container {
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "left-pad Content right-pad"
; 
  }
  .left-pad { grid-area: left-pad; }
  .right-pad { grid-area: right-pad; }
  .Content { grid-area: Content; }


.submit-request{
    margin-top: 10px;
    margin-bottom: 10px;
    grid-area: Content;
}

.response{
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    /* grid-area: Content; */
}

.recs-header{
    text-align: center;
}


.recs-response{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;}

    .recs-response:nth-child(1) {
        animation-delay: 0.2s;
    }
    
    .recs-response:nth-child(2) {
        animation-delay: 0.4s;
    }
    
    .recs-response:nth-child(3) {
        animation-delay: 0.6s;
    }
    
    .recs-response:nth-child(4) {
        animation-delay: 0.8s;
    }
    
    .recs-response:nth-child(5) {
        animation-delay: 1s;
    }
    
    .recs-response:nth-child(6) {
        animation-delay: 1.2s;
    }
    
    .recs-response:nth-child(7) {
        animation-delay: 1.4s;
    }
    
    .recs-response:nth-child(8) {
        animation-delay: 1.6s;
    }
    
    .recs-response:nth-child(9) {
        animation-delay: 1.8s;
    }
    
    .recs-response:nth-child(10) {
        animation-delay: 2s;
    }
.rec{
    /* autofill grid position */
    grid-row: auto;
    grid-column: auto;
}
/* media below 420 */

.modal{
    position: absolute;
    width: 100vw;
    margin-top: -20%;
    height: 132vh;
    background-color: #00000034;
    z-index: 100;
    backdrop-filter: blur(15px);

}

.modal-text{
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: var(--step-3);
    transform: translate(-50%, -50%);
    /* background-color: #ffffff; */
    z-index: 120;
}

.history-container {
    grid-area: Content;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.history-track {
    animation: 2.5s ease-in 0s 1 LoadIn;
    display: flex;
    border: 1px solid #ddd; /* Add a border for visual separation */
    margin-bottom: 10px; /* Add some spacing between each card */
}

.history-track__cover {
    position: relative;
    flex: 1; /* Take up 1/3 of the available space */
}

.history-track__cover img {
    object-fit: cover;
    width: 100%; /* Make the image fill its container */
    height: 100%; /* Maintain the aspect ratio of the image */
}

.history-track__info {
    flex: 2; /* Take up 2/3 of the available space */
    padding: 10px; /* Add padding for better spacing inside the info container */
    box-sizing: border-box; /* Include padding in the total width */
}

.history-track__title {
    font-size: var(--step-2);
    font-weight: bold;
}

/* Add styles for other info elements as needed */
.history-track__album,
.history-track__artist{
    font-size: var(--step-0);
    margin-top: 5px; /* Add some spacing between info elements */
}

.history-track__added {
    font-size: var(--step--1);
    margin-top: 5px; /* Add some spacing between info elements */
}


[class^="play-svg"]{
    position: absolute;
    top: 58%;  /* Adjust as needed */
    left: 58%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    z-index: 2;
    scale: 1.5;
    background-color: #00000061;
    border-radius: 20%;


}

[class^="play-svg"].active{
    stroke: green;  /* Change the color to indicate that the track is playing */
}

@media only screen and (max-width: 520px) {
    .container {
        display: grid; 
        grid-template-columns: 0.1fr 1fr 0.1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". Content ."        
      }
      .Content { grid-area: Content;
        padding-bottom: 10vh;
     }

     h1{
         font-size: var(--step-6);
     }

     p{
            font-size: var(--step-0);
     }
     .intro{
         margin-bottom: 5vh;
     }
     button{
            font-size: var(--step-0);
     }
     
     textarea{
        font-size: var(--step-0);
        width: 90vw;
     }

     .recs-response{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }
    .history-track__cover img {
        width: 0; /* Make the image fill its container */
        height: 0; /* Maintain the aspect ratio of the image */
    }
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}
